// Abstract
@use "abstract/variables" as *;
@use "abstract/reset";
@use "abstract/mixins";

// Components
@use "components/buttons";
@use "components/cards";
@use "components/modal";
@use "components/quiz";

// Layout
@use "layout/header";
@use "layout/hero";
@use "layout/instock";
@use "layout/visit";
@use "layout/showcase";
@use "layout/service-hub";
@use "layout/contacts";
@use "layout/mobile-bar";

// Глобальные базовые стили
body {
  background-color: $bg-main;
  color: $text-dark;
  font-family: $font-main;
  overflow-x: hidden;
}
